.left-li {
  position: absolute;
  width: 234px;
  height: 440px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 19px;
  top: 140px;
  list-style-type: none;
  padding: 20px 0px 0px;
}
.left-li li{
  width: 234px;
}
.left-li a{
  display: block;
 width: 204px;
  height: 42px;
  /* 设置行高 */
	line-height: 42px;
	/* 设置字体颜色 */
	color: #fff;
	/* 字体大小 */
	font-size: 14px;
	/* 设置padding */
	padding-left: 30px;
}

.left-li a:hover{
  background-color: #FF6700;
  color: #fff;
}