/* 网页头hover隐藏的div */
.item-childen-first {
  width: 1226px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 139px;
  left: 50%;
  margin-left: -612px;
  height: 0px;
  overflow: hidden;
  transition: width 2s, height 2s;
  transition: all 1s;
}

.item-childen-first ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.item-childen-first li {
  width: 100%;
}

.figure-img-center {
  width: 205px;
  text-align: center;
}

.figure-img {
  border-left: 1px solid #e0e0e0;
}

.figure-img img {
  width: 160px;
  height: 110px;
}

.figure-img-p p {
  text-align: center;
  font-size: 12px;
  /* margin-top:10px ; */
  color: #333;
}

.figure-img-p {
  margin-top: 10px;
}

.figure-img-p :last-child {
  color: #ff6700;
}

.figure-img-center {
  margin: 30px 0px 20px 0px;
}

.li-ltem-first:hover .item-childen-first {
  height: 213px;
}
