.swiper-wrapper {
  width: 100%;
  height: 460px;
  background-color: bisque;
  display: flex;
  justify-content: center;
}
.swiper-slide {
  width: 1226px;

  background-color: darksalmon;
}
.swiper-slide img {
  height: 460px;
  width: 1226px;
}

.swiper-slide ul {
  list-style-type: none;
}
